:root {
  --theme-bg-color: #fff;
  --theme-bg-color2: #ffae00;
  --theme-fg-color: #000;
  --theme-nav-hover-color: rgba(0, 0, 0, 0.15);
  --theme-nav-hover-transition: background-color 0.3s ease-in;
}

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.icon {
  display: inline-block;
}

.icon svg {
  height: 20px;
}

header {
  padding: 10px 10px;
  position: sticky;
  top: 0;
  left: 0;
  background-color: var(--theme-bg-color2);
}

header h1 {
  display: inline-block;
  margin: 0 10px;
}

header .icon.menu-icon {
  padding: 5px 5px 0 5px;
  transition: background-color 0.5s ease-out;
}

header .icon.menu-icon:hover {
  background-color: var(--theme-nav-hover-color);
  border-radius: 10%;
  transition: background-color 0.5s ease-in-out;
}

.nav-bar.open::after {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.75);
}

.nav-bar ul {
  padding: 0;
  list-style-type: none;
}

.nav-bar > ul {
  margin: 0;
  padding: 10px;
  position: fixed;
  top: 0;
  left: -100%;
  z-index: 2;
  bottom: 0;
  max-width: 70%;
  background-color: var(--theme-bg-color);
  box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.5);
  border-right: 7px var(--theme-bg-color2) solid;
  transition: left 0.3s ease-out;
}

.nav-bar.open > ul {
  left: 0;
  transition: left 0.3s ease-in-out;
}

.nav-bar > ul li {
  display: block;
  font-weight: bold;
}

.nav-bar > ul ul li {
  font-weight: normal;
}

.nav-bar > ul > li:nth-child(2) {
  margin-left: 15px;
  margin-top: 15px;
}

.nav-bar > ul > li:nth-child(2)::after {
  content: "";
}

.nav-bar > ul a {
  padding: 15px;
  color: var(--theme-fg-color);
  text-decoration: none;
  display: block;
  background-color: white;
  border-radius: 0 15px 15px 0;
  transition: background-color 0.5s ease-out;
}

.nav-bar > ul a:hover {
  background-color: var(--theme-nav-hover-color);
  transition: background-color 0.5s ease-in-out;
}

.nav-bar > ul a:active {
  background-color: var(--theme-bg-color2);
  transition: background-color 0.1s ease-out;
}
