.banner {
  display: flex;
  flex-direction: column-reverse;
  margin: 50px 20px 75px 20px;
  text-align: center;
}

.banner .heading {
  font-size: 1.7em;
}

.banner .image img {
  width: 100%;
}

/* From tablet width onwards */
@media (min-width: 768px) {
  .banner {
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  .banner .description {
    width: 400px;
    min-width: 300px;
  }

  .banner .image {
    width: 800px;
    margin-left: 50px;
  }
}
